.container-detail-people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: var(--color-grey-star-wars);
  color: var(--color-yelow-star-wars);
}

.container-detail-people h1 {
  font-family: var(--font-star-wars);
}

.container-detail-people h2 {
  font-family: var(--font-start-wars-secundary);
}
