.container-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-black-star-wars);
}
.image-header {
  height: 100px;
}

.btn-home {
  text-decoration: none;
  color: var(--color-yelow-star-wars);
  margin-right: 50px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-home:hover {
  color: var(--color-yelow-star-wars);
}
