.container-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-black-star-wars);
}
.image-header {
  height: 100px;
}

.btn-home {
  height: 50px;
  margin-right: 50px;
}
