.Container-people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: var(--color-grey-star-wars);
  height: calc(100vh - 100px);
}
.link-people {
  text-decoration: none;
  color: black;
}

.link-people:hover {
  color: rgb(75, 52, 52);
  font-size: 40px;
}
